.lt-card {
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    padding: 24px;
}

.lt-article-card {
    background-color: var(--body);
    transition: 120ms transform;
    border-radius: 3px;

    + .lt-article-card {
        margin-top: 40px;
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }
    &:active {
        transform: translateY(3px);
    }
    &-thumbnail {
        width: 100%;
        max-height: 180px;
        object-fit: cover;
        border-radius: 3px;
    }
    &-title, &-author {
        vertical-align: bottom;
    }
    &-title {
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0px;
    }
    &-summary {
        font-family: Radley;
        font-size: 14pt;
        font-style: normal;
        font-weight: 400;
        line-height: 18pt;
        letter-spacing: 0px;
        margin-top: 20px;
    }
    &-author {
        font-family: Raleway;
        font-size: 12pt;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
    }
    &-chip {
        font-family: Raleway;
        font-size: 12pt;
        font-style: normal;
        font-weight: 400;
        line-height: 13pt;
        letter-spacing: 0px;

        padding: 8px;
        border-radius: 100px;

        color: var(--on-body);
        border: 1px solid var(--chip);
        background-color: var(--chip);

        + .lt-article-card-chip {
            margin-left: 10px;
        }
    }
    &-row {
        display: flex;
        margin-top: 24px;

        &-spacer {
            flex-grow: 1;
        }
    }
}
