:root {
    --header: #141414;
    --on-header: #ffffff;

    --body: #ffffff;
    --on-body: #112211;
    --chip: rgba(18, 18, 18, 0.2);
}

@media (prefers-color-scheme: dark) {

:root {
    --header: #141414;
    --on-header: #ffffff;

    --body: #1F1F1F;
    --on-body: #eff0f1;
    --chip: rgba(18, 18, 18, 0.2);
}

}
