.lt-nav-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .lt-footer-card {
        margin-top: 20px;
        flex: 1 0 40%;
        box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
        padding: 10px;
        font-family: Raleway;
        color: var(--on-body);
    }
    .lt-footer-card--waster {
        display: none;
    }
}

@media screen and (max-width: 799px) {
    .lt-nav-footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) {
    .lt-nav-footer {
        .lt-footer-card {
            max-width: 40%;
        }
        .lt-footer-card--waster {
            visibility: hidden;
            display: initial;
        }
    }
}