.lt-content-wrapper {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;

    .lt-content {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
    }
}