@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

.lt-content-wrapper {
    * {
        font-family: Radley;
        font-size: 14pt;
        font-style: normal;
        font-weight: 400;
        line-height: 20pt;
        letter-spacing: 0px;
    }

    h1, h2 {
        font-family: Raleway;
        font-size: 20pt;
        font-style: normal;
        font-weight: 700;
        line-height: 28pt;
        letter-spacing: 0px;
    }

    h3 {
        font-family: Raleway;
        font-size: 18pt;
        font-style: normal;
        font-weight: 700;
        line-height: 28pt;
        letter-spacing: 0px;
    }

    h1, h2, h3 {
        margin-top: 1rem;
    }

    p {
        line-height: 23pt;
    }

    p + p {
        margin-top: 20pt;
    }

    ul {
        margin-top: 20pt;
        margin-bottom: 20pt;
    }

    ul li {
        list-style-type: circle;
        margin-left: 2rem;
    }

    strong {
        font-weight: 900;
        opacity: 1.0;
    }

    *:not(pre) > code {
        background-color: var(--code);
        font-family: monospace;
        padding: 2pt;
        border-radius: 3px;
    }

    pre {
        background-color: var(--big-code);
        padding: 1rem;
        margin: 1rem 0;
        overflow: auto;
        border-radius: 3px;
        border: 1px solid var(--rim);

        > code {
            font-family: monospace;
        }
    }

    main {
        a {
            color: var(--link);
    
            &:visited {
                filter: brightness(-10%);
            }
        }
    }
}

address {
    display: inline;
}
