<header class="lt-top-app-bar">
	<span>
		<a href="/"><h1-color>lipu kule</h1-color></a> <a style="margin-left: 3rem;" href="/mi/o-kama-sitelen-e-lipu-kule/"><h1-color>o kama sitelen e <em>lipu kule!</em></h1-color></a>
		<br>
		<a href="/color/toki/" style="color: var(--h-lojunu);"><h1>toki</h1></a> - <a href="/color/ilo/" style="color: var(--h-loje);"><h1>ilo</h1></a> - <a href="/color/sona/" style="color: var(--h-lojelo);"><h1>sona</h1></a> - <a href="/color/moku/" style="color: var(--h-graso);"><h1>moku</h1></a> - <a href="/color/lipu-kule/" style="color: var(--h-lasunu);"><h1>ante</h1></a>
	</span>
</header>
