{{ define "heading" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
<button onclick="addlen('{{ .Title }}')">o len e {{ .Title }}</button>
<button onclick="removelen('{{ .Title }}')">o len ala e {{ .Title }}</button>
{{ end }}
{{ define "main" }}
<br>
<div class="lt-card-list">
    {{ range .Pages }}

	{{ if eq .Params.color "toki" }}
	<div class="lt-card lt-article-card" style="background-color: var(--lojunu);" onclick="location.href = {{ .RelPermalink }}" role="button">
	{{ else if eq .Params.color "ilo" }}
	<div class="lt-card lt-article-card" style="background-color: var(--loje);" onclick="location.href = {{ .RelPermalink }}" role="button">
	{{ else if eq .Params.color "sona" }}
	<div class="lt-card lt-article-card" style="background-color: var(--lojelo);" onclick="location.href = {{ .RelPermalink }}" role="button">
	{{ else if eq .Params.color "moku" }}
	<div class="lt-card lt-article-card" style="background-color: var(--graso);" onclick="location.href = {{ .RelPermalink }}" role="button">
	{{ else if eq .Params.color "lipu kule" }}
	<div class="lt-card lt-article-card" style="background-color: var(--lasunu);" onclick="location.href = {{ .RelPermalink }}" role="button">
	{{ else }}
	<div class="lt-card lt-article-card" onclick="location.href = {{ .RelPermalink }}" role="button">
	{{ end }}
        {{ with .Params.thumbnail }}
            <div class="thumbnail"><img class="lt-article-card-thumbnail" src="{{ . }}" alt="Thumbnail" /></div>
        {{ end }}

        <div class="len">
            <div>
                <span>len li tan ni:</span>
                <ul>
                    {{ with .Params.categories }}
                    {{ range first 1 . }}
                    <li>{{ . }}</li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>

        <div class="lt-article-card-row">
            <span class="lt-article-card-title" href="{{ .RelPermalink }}">{{ .Title }}</span>
            <div class="lt-article-card-row-spacer"></div>
            {{ with .Params.author }}
			{{range first 2 . }}
			<address class="lt-article-card-author"> <a href="{{ relURL (print "/author/" . | urlize) }}">tan {{ . }}&nbsp;</a></address>{{ end }}
			{{ end }}
        </div>

        <div class="lt-article-card-summary">
            {{ with .Description }}
                {{ $.Scratch.Set "summary" (markdownify .) }}
            {{ else }}
                {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
            {{ end }}
            {{ $.Scratch.Get "summary" }}
        </div>

        {{ with .Params.categories }}
        <div class="lt-article-card-row">
            <div class="lt-article-card-row-spacer"></div>
            {{ range . }}
            <a class="lt-article-card-chip" href="{{ relURL (print "/categories/" . | urlize) }}">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>

    {{ end }}
</div>
{{ end }}
