{{ define "heading" }}
<h2>{{ .Title }}<br>
		{{ with .Params.author }}
		{{range first 2 . }}
		<address class="lt-article-card-author"> <a href="{{ relURL (print "/author/" . | urlize) }}">tan {{ . }}&nbsp;</a></address>{{ end }}
		{{ end }}
		<span class="lt-article-card-author" style="margin-left: 3rem;"> lipu ni li jo e nimi {{ .WordCount }}</span></h2>
<br>
{{ end }}

{{ define "main" }}

{{ with .Params.thumbnail }}
<div class="thumbnail"><img class="lt-article-card-thumbnail" src="{{ . }}" alt="Thumbnail" /></div>
{{ end }}

{{ .Content }}

{{ if or (.NextInSection) (.PrevInSection) }}

    <div class="lt-nav-footer">
        {{ if .NextInSection }}
        <a class="lt-footer-card" href="{{ .NextInSection.Permalink }}">
            {{ T "previous" }}
            sin: {{ .NextInSection.Title | truncate 50 "..."}}
        </a>
        {{ else }}
        <div class="lt-footer-card lt-footer-card--waster"></div>
        {{ end }}
        {{ if .PrevInSection }}
        <a class="lt-footer-card" href="{{ .PrevInSection.Permalink }}">
            {{ T "next" }}
            majuna: {{ .PrevInSection.Title | truncate 50 "..." }}
        </a>
        {{ else }}
        <div class="lt-footer-card lt-footer-card--waster"></div>
        {{ end }}
    </div>

{{ end }}

{{ end }}
